@media (max-width: 1200px)
    .menu
        &_link 
            font-size: 13px 
        &_item
            padding-right: 20px
            &:last-child
                border-right: none
    .promo
        .promo_header 
            font-size: 50px

    .reasons
        &_descr 
            width: 300px
        &_block
            align-items: flex-start

    .mobile
        &_item
            width: 300px
@media (max-width: 991px)
    .menu
        &_link 
            font-size: 10px 
        &_item
            padding-right: 8px
    .subheader 
        .subheader_logo 
            img
               width: 100% 
        .subheader_official 
            font-size: 10px
        .subheader_phone
            font-size: 18px
        .subheader_button
            line-height: 40px
            margin-top: 26px
    .promo
        .promo_header 
            font-size: 40px
        .promo_subheader 
            font-size: 30px
    .reasons
        &_descr 
            margin-top: 20px
        &_block
            align-items: center
            flex-direction: column
@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-content: center
        top: 0px
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgb(0,0,0, .8)
        left: -100%
        transition: 0.6s all
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin: 10px 0
        &_link 
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            width: 100%
            height: 2px
            background-color: #fff
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .subheader
        .subheader_phone
            color: #fff
            font-size: 12px
            font-weight: 400
            text-transform: uppercase
